<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Xerrance | Terms and Conditions</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper" >
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white" style="background-color: #343a40;">
    <div class="container">
      <a href="index.html" class="navbar-brand" style="color: white;">
        <img src="dist/img/xerrance.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Xerrance Digital Mining</span>
      </a>
    </div>
  </nav>
  <!-- /.navbar -->

   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
            <h1 class="m-0 text-dark">Terms and Conditions<small></small></h1>
        </div>   
        <p>These Terms and Conditions exist for the benefit of Xerrance.com and its members.</p>

        <h5><strong>1. About Us</strong></h5>
        <p>
          1.1. We operate the Site Xerrance.com owned and manage by Xerrance International. For your queries, you can drop us a mail at xerrance.ts@gmail.com.
        </p>
        <h5><strong>2. Relationship:</strong></h5>
        <p>
          2.01. By joining our site as a member, you automatically agree to the Terms of Service, Privacy and Refund Policy of Xerrance.com. Members that do not agree to any of these Terms of Service, Privacy, and Refund Policy, should stop using our site/service and terminate their account immediately.<br>
          2.02. A member is neither an employee nor an independent contractor of Xerrance.com.<br>
          2.03. Members are totally responsible for the money they spend in our site Xerrance.com in exchange for products & services. Upon purchasing some of our products, members can participate in a pool that receives rewards from DIGITAL MINING’s sales & trading account, up to a maximum % (mentioned in the site) of the amount spent on those specific purchased products.<br>
        </p>
        <h5><strong>3. Illegal activity:</strong></h5>
        <p>
          3.01. Members may not present Xerrance.com promotions on any page, newsgroup, email or any distribution method that is regarded objectionable by Xerrance.com, its Internet Service Providers, or otherwise considered unlawful according to any controlling legal authority. This includes, but is not limited to, pornography, computer viruses, obscenity or Spam.<br>
          3.02. Members of our site are not allowed to gain referrals by enticing them with gifts/rewards/any other incentives without explaining the nature of the DIGITAL MINING business as presented in our site.<br>
        </p>
        <h5><strong>4. Third-Party Liability:</strong></h5>
        <p>
          Xerrance.com will in no way be liable for the actions of third parties that may in any way cause harm to members.
        </p>
        <h5><strong>5. Membership Fee:</strong></h5>
        <p>
          There is no membership fee to join our site. However, fees may be introduced if deemed necessary by Xerrance.com.
        </p>
        <h5><strong>6. Cancellation/Termination of membership:</strong></h5>
        <p>
          6.01. Opening an account in Xerrance.com is voluntary and therefore the account may be canceled at any time by the member.<br>
          6.02. Xerrance.com, at its sole discretion, reserves the right to terminate without notice, the account of any member caught in violation of the Terms of Use, Privacy or Refund Policy.<br>
          6.03. Any member acting unethical or unprofessional (with acts that can be documented and proven) may be removed without refund at the sole discretion of Xerrance.com with all current and future commissions and site usage forfeited.<br>
          6.04. Any membership that is terminated will forfeit all benefits and privileges associated with Xerrance.com. Any positions held in Xerrance.com will also be forfeited and ownership will be reassigned to Xerrance.com.<br>
          6.05. We reserve the right to terminate the member's account in cases like, but not limited to, spamming, cheating, misuse or abuse of our site/program/site admin(s)/site member(s).<br>
        </p>
        <h5><strong>7. Payments:</strong></h5>
        <p>
          All payments are processed automatically and the advertising/access to the product will be added instantly to your account. Sometimes, they may take a longer time to get processed because of server issues, etc. and hence please allow up to 1 hour for the payment to be processed and for the product/service to be added to your account. If it takes longer than that, please kindly contact xerrance.ts@gmail.com.<br>
        </p>
        <h5><strong>8. Client’s Protection</strong></h5>
        <p>
          Since the prices of the cryptocurrency market vary a lot, it can happen that in some cases the mining is unprofitable. Take the example of Bitcoin: if its price falls and reaches a price too low, the cryptocurrency rewards that miners receive then no longer cover the operating costs (electricity, maintenance, etc.) of their mining machine. They therefore spend more than they earn: it is no longer profitable.</br>
          <br>That's why we've put a system in place to prevent that. How? By monitoring 7 / 7d the market variations to detect possible price falls and, if necessary, pause your contract until it becomes profitable: it is the Client’s Protection.</br>
          <br>Take a concrete case: you have just taken a one-year mining contract, the cryptocurrency market is doing well and you are profitable. However, at the fourth month, the price of the cryptocurrency that you mine falls and your contract becomes unprofitable ... Do not panic! That's at this moment that Client’s Protection is triggered and pauses your contract: you do not suffer any loss of profit! Two months later, the market goes up again and the mining becomes profitable again. Your contract is then reactivated automatically at the place where it had stopped and in this example only takes into account your first three months of mining (period during which the latter was still profitable).</br>
        </p>
        <h5><strong>9. Refund Policy:?</strong></h5>
        <p>
          9.01. All purchased items (Upgrade fees for memberships (if any)/Add funds/Purchase of DIGITAL MINING packs, Crypto School products, or other Advertising package(s)) are non-refundable (NO REFUND).</br>
          9.02. If you make a dispute, Charge back or reverse transactions on your purchases, your account will be suspended immediately. On closure of dispute, we will re-evaluate the situation and may either reinstate your account or terminate your account.</br>
        </p>
        <h5><strong>10. For Advertisers:</strong></h5>
        <p>
          10.01. Pornography / Adult or any related ads are not allowed.</br>
          10.02. Ads that disgrace Faiths / Beliefs / Cultures / Races / animals / our site / other sites / other programs are not allowed.</br>
          10.03. Ads with false / fake / misleading claims are not allowed.Your account will be terminated if these types of ads are posted.</br>
          10.04. Spamming is not allowed.</br>
        </p>
        <h5><strong>11. Privacy Policy:</strong></h5>
        <p>
          11.01. Xerrance.com will never provide personal information about its members to third parties without the consent of the member unless required by law.</br>
          11.02. Your collected information is used for the communication between Xerrance.com and its members and will not be sold to any other company.</br>
          11.03. We use cookies to keep track of advertisements and Affiliates. Cookies are small files that a site or its service provider transfers to your computer’s hard drive through your web browser (if you allow it) that enables the sites or service providers to recognize your browser and capture and remember certain information.</br>
        </p>
        <h5><strong>12. Contact Information:</strong></h5>
        <p>
          It is the responsibility of members to keep their personal records up to date at the member’s area. Xerrance.com will not be responsible for communication errors due to incorrect or out of date contact information. Continued failed attempts to make contact with you may result in the termination of your account.</br>
        </p>
        <h5><strong>13. Copyright Material:</strong></h5>
        <p>
          All branding, logos and graphics contained within Xerrance.com are copyright use; distribution or copying of such content is expressly prohibited. Xerrance.com provides members with approved material for marketing within the member’s area.<br>
        </p>
        <h5><strong>14. Damaging Intent:</strong></h5>
        <p>
          Any Member who engages in chat, email, postings or any other medium, content that is deemed damaging to Xerrance.com and/or its members may result in the termination of your account with Xerrance.com. Depending on the seriousness, Xerrance.com may deem it appropriate to exercise legal action.<br>
        </p>
        <h5><strong>15. UCE/UBE or SPAM:</strong></h5>
          <p>
            Xerrance.com strictly prohibits the use of UCE or SPAM. This enforcement is at the sole discretion of Xerrance.com and for the benefit of all its members. Members proven to be participating in such activities will result in the termination of your membership.<br>
          </p>
        <h5><strong>16. Taxes & Laws:</strong></h5>
          <p>
            16.01. You, the member, are responsible for any and all taxes payable in you residency country / domicile or jurisdiction, for any income you receive either from Xerrance.com or any program promoted via Xerrance.com.<br>
            16.02. You, the member, are responsible for any laws in your residency country/domicile or jurisdiction.<br>
          </p>
        <h5><strong>17. Disputes and Agreements shall be interpreted under the laws.</strong></h5>
        <h5><strong>18. Xerrance.com reserves the right to update, modify, add or change the terms and conditions without notice.</strong></h5>

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      <strong>Version</strong> 1.0.0
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020 <a href="https://xerrance.com">Team Xerrance</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
</body>
</html>
