<%- include('../partials/index-header') %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header --> 
  <!-- Main content -->
  <section class="content" style="margin-top: 100px;">
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-md-8 col-lg-5">
          <h3><i class="fas fa-exclamation-triangle text-warning"></i> Email Sent</h3>
          <p>We send an email for you to validate your email and to continue your payment. If you did not receive our email please request <a href="#">resend email here</a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
  <%- include('../partials/index-footer') %>