<%- include('../partials/index-header') %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header --> 
  <!-- Main content -->
  <section class="content" style="margin-top: 100px;">
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-md-8 col-lg-5">
          <div class="card">
            <div class="card-body">
              <p class="login-box-msg">Payment Method</p>
              <div class="text-center">
                <label>Send USDT Wallet here</label><br>
                <img src="images/resources/qrcode.png" ><br>
                <span>13nTHS2KeSzRvS6ATZxQkghKEb7CYpv2iz</span><br>
                <p class="text-sm">If you already paid, Please check you email for your referral codes</p>
                <a href="/login" class="text-center">I already have a membership</a>
              </div>
            </div>
            <!-- /.form-box -->
          </div><!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
